/*not yet, still figuring this out*/

body {
    font-family: "Courier New", Courier, monospace; color:rgb(243, 151, 151);
    text-align: center;
}

.aligngif{
    vertical-align: text-bottom;
}
.headerend{
    margin-bottom: 100px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.post{
    font-family: 'Courier New', Courier, monospace;
}

.bannerR{
    float: left;
}

