/*not yet, still figuring this out*/

body {
    font-family: "Courier New", Courier, monospace; color:rgb(243, 151, 151);
    text-align: center;
}

.aligngif{
    vertical-align: text-bottom;
}

.headerend{
    margin-bottom: 100px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.headerendforlinks{
    margin-bottom: 50px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.linksbackground{
    border:rgb(11, 204, 218);
    border-style: dotted dashed solid double;
    width: 600px;
    margin: auto;
}

.postbanner{
    margin: auto;
    align-items: right;
    margin-bottom: 20px;
    border: rgb(243, 151, 151);
    border-style: solid;
    border-width: 2px;
    max-width: 70%;
}

.postcontent{
    font-family: "Courier New", Courier, monospace; color:rgb(243, 151, 151);
    display: none;
    background-color: beige;
}

.postbanner:hover .postcontent{
    display: block;
}

.gosomewhere{
    text-decoration: none;
    color: rgb(180, 180, 180);
}

.friendlink{
    text-decoration: none;
    color: wheat;
    margin-bottom: 100px;
}